.container {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.startButton {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
