@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Outfit", "sans-serif";
    font-weight: 300;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
}

.leaflet-container {
    z-index: 0;
    width: 100%;
    height: 100vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent;
  color: #333;
  /* box-shadow: 0 3px 14px rgb(0 0 0 / 40%); */
}
